@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Mighty Sluly';
    src: url('/fonts/MightySouly.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-header {
    font-family: 'Mighty Sluly', sans-serif;
}

@font-face {
    font-family: 'Broken Console';
    src: url('/fonts/BrokenconsoleBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-header-2 {
    font-family: 'Broken Console', sans-serif;
}

